body {
    background: #080808;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    padding: 15px 30px;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #222;
    box-sizing: border-box;
}

.gold { color: #ffca2d; font-weight: bold; }

.container { width: 100%; max-width: 900px; padding: 40px 20px; text-align: center; }

.case-card {
    background: #121212;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #333;
    display: inline-block;
    margin-bottom: 50px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.7);
}

.item-visual { position: relative; height: 160px; margin-bottom: 20px; }

#rarity-glow {
    position: absolute;
    width: 100%; height: 100%;
    filter: blur(50px);
    opacity: 0.2;
    transition: 0.5s;
}

.btn-main {
    background: linear-gradient(to right, #ffca2d, #ff8c00);
    border: none; padding: 15px 40px;
    border-radius: 10px; font-weight: bold;
    cursor: pointer; font-size: 18px; transition: 0.3s;
}

.btn-main:hover { transform: translateY(-3px); box-shadow: 0 5px 20px rgba(255, 140, 0, 0.4); }

/* ИНВЕНТАРЬ */
.inventory-section { text-align: left; }
.inventory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 15px;
    background: #0f0f0f;
    padding: 20px;
    border-radius: 15px;
    min-height: 150px;
    border: 1px dashed #333;
}

.inv-item {
    background: #181818;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    border-bottom: 4px solid #333;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn { from { opacity: 0; transform: scale(0.8); } to { opacity: 1; transform: scale(1); } }
